.body{
  background: rgb(2, 32, 27);
  color:white;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 0.5s ease;
  letter-spacing: 1px;
  line-height: 1.9px;
  gap: 2px;
}
.navbar-nav{
    margin-left: 50% !important;
    justify-content:flex-end;
}
.contactus{
    margin-left: 3rem;
}
.navigation .contactus{
    border-radius: 20px;
    border: 2px solid white;
    padding: 5px;
    
}
.navigation .contactus:hover{
    border-radius: 20px;
    border: 2px solid white;
    padding: 5px;
    background: white ;
    color: rgb(2, 32, 27) !important;
    cursor: pointer;
    transition: all 0.5s ease;
}
.custom-bg{
    background: rgb(2, 32, 27);
    color: white;
}
.mycontainer{
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.active{
    border-bottom: 2px solid white !important;
    transition: all 0.5s ease;

}
.bg-1{
    color: white;
    background: rgb(3, 51, 43);

}
.companyname{
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.hero {
    min-height: 650px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)) , url("../imgs/laptopbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0rem 5rem  ;
}
.hero .row .col-md-5{
    margin-top: 3rem;
    border: 1px solid white;
    background: transparent;
    border-radius: 20px;
    /* border: 2px solid rgb(3, 51, 43); */
    padding: 20px;
    margin-left: 10px;
    line-height: 10px;
    min-height: 300px;
}
.hero .row .col-md-5 .btn{
    margin:5px;
}
.hero img{
    height: 450px;
}

.whoweare{
    min-height: 450px;
    /* border: 2px solid ; */
    background: white;
    color: rgb(2, 32, 27);
}
.whoweare .row{
    padding: 20px !important;
    margin: 20px !important;

}
.whoweare button{
    height:50px;
    min-width: 150px;
    border-radius: 47px;
    border: 2px solid red;
    background-color: white;
}
.whoweare p{
    line-height: normal;
    padding: 5px;
    margin : 10px;
    font-size: 16px;
    line-height: 2rem;

}
.whoweare .image{
    height: 450px;
    border-radius: 30px;
    margin: 5px ;
    padding: 1px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)) , url("../imgs/pexels-pixabay-356056.jpg");
    background-position: center;
    background-size: cover;
}
.services{
    min-height: 450px;
    margin-bottom: 20px;

}
.services .row{
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}
.services span{
    color: red;

}
.services .card{
    height: 280px !important;
}
.services .col-md-4{
    margin-top: 50px;
    margin-bottom: 20px;
}
.services .card-body h5{
    color: rgb(3, 51, 43) !important;
    text-align: center;
}
.services .card-body p{
    color: rgb(3, 51, 43) !important;
    text-align: start;
    line-height: 1.5rem;
}
.services .card-image{
    height: 130px;
    width: 130px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    margin-left: 30%;
    margin-top: -16%;
    border-radius: 50%;

}
.services img{
    border-radius: 50%;
    height: 130px;
    width: 130px;

}
.services .card{
    margin-top: 10px !important;
    border: none !important;
    border-radius: 20px !important;
    box-shadow: 0 19px 38px -4px rgba(0,0,0,0.3), 0 12px 12px -2px rgba(0,0,0,0.22);
    max-height: 300px;
}
.services .viewmore a{
    height: 50px;
    width: 200px;
    text-decoration: none;
    border: 2px solid red ;
    background-color: transparent;
    border-radius: 47px;
    color: white;
    align-self: center;
    text-align: center;

}
.services .viewmore a:hover{
    color: rgb(3, 51, 43);
    background: white !important;
    border: 2px solid rgb(3, 51, 43);
    

}
.whyus{
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color:white;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) , url("../imgs/pexels-pixabay-356056.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.whyus button{
    height: 50px;
    min-width: 150px;
    text-decoration: none;
    background: red;
    border-radius: 47px;
    border: none;
    color: white;
    align-self: center;
}
.portfolio{
    margin-top: 50px;
    min-height: 450px;
    /* border: 2px solid ; */
}
.portfolio .row{
    /* margin-top: 80px; */
    margin-left: 10% !important;
    margin-right: 10% !important;
}
.portfolio a{
    text-decoration: none;
    color: rgb(3, 51, 43);
    justify-content: center;
}
.portfolio a:hover{
    text-decoration: none;
    color: rgb(3, 51, 43);
}
.portfolio h4{
    text-align: center;
    padding: 20px;
    justify-content: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.portfolio span{
    color: red;
}
.portfolio img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 280px;
}
.portfolio .card{
    margin-top: 10px !important;
    border: none !important;
    border-radius: 20px !important;
}
.portfolio .card-body{
    align-content: center;
    padding: 10px;
}
.viewmore{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    justify-content: center;

}
.viewmore a{
    height: 50px;
    width: 200px;
    text-decoration: none;
    background: transparent;
    border-radius: 47px;
    border: 2px solid red;
    color: red;
    align-self: center;
    padding: 15px;
    margin: 10px;
    margin-bottom: 20px;
    justify-content: center;
}
.viewmore a:hover{
    height: 50px;
    width: 200px;
    text-decoration: none;
    background: transparent;
    border-radius: 47px;
    border: 2px solid rgb(3, 51, 43);
    color: rgb(3, 51, 43);
    align-self: center;
    padding: 15px;
    margin: 10px;
    margin-bottom: 20px;
}
.clients{
    min-height: 450px;
    border: 2px solid ;
}
.mini-footer{
    min-height: 450px;
    border: 2px solid ;
}
.footer{
    min-height: 100px;
    padding: 30px;
    background: rgb(2, 32, 27);
}
.footer ul li {
    list-style:circle;

}
.footer h5{
    margin-bottom: 10px;
    /* border-bottom: .1px solid white; */
    padding: 10px;

}

.footer ul li a{
    text-decoration: none;
    color: rgb(192, 168, 168);
}
.copyright{
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
}
.copyright a{
    color: red;
    text-decoration: none;
}
.copyright a:hover{
    color: red;
    text-decoration: none;
}

/* services page css */
.serviceshero{
    min-height: 300px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)) , url("../imgs/servicesbg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.serviceshero .content{
    border: 2px solid white;
    background: white;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 20px;
    border-radius: 10px;
    line-height:2rem;
    gap: 10px;
    /* margin-left: 33%; */
    /* margin-right: 20%; */
    /* width: 400px; */
 
}
.serviceshero .content h4{
    color: rgb(3, 51, 43);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.serviceshero button{
    height: 50px;
    min-width: 150px;
    text-decoration: none;
    background: transparent;
    border-radius: 47px;
    border: 2px solid red;
    color: rgb(3, 51, 43);
    align-self: center;

}
.serviceshero a{
    text-decoration: none;
    color: rgb(3, 51, 43);
    text-align: center;
    padding: 10px;
}
.serviceshero a:hover{
    text-decoration: none;
    color: rgb(3, 51, 43);
    text-align: center;
    padding: 10px;
}
.serviceshero span{
    color: red;
}
.ourservices .title{
    font-weight: bold;
    /* font-family:; */
}
.ourservices{
    min-height: 450px;
    margin-bottom: 10px;
    margin-top: 20px;


}
.ourservices .row{
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}
.ourservices span{
    color: red;

}
.ourservices .card{
    height: 270px !important;
}
.ourservices .col-md-4{
    margin-top: 50px;
    margin-bottom: 20px;
}
.ourservices .card-body h5{
    color: rgb(3, 51, 43) !important;
    text-align: center;
}
.ourservices .card-body p{
    color: rgb(3, 51, 43) !important;
    text-align: start;
    line-height: 1.5rem;
}
.ourservices .card-image{
    height: 130px;
    width: 130px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
    margin-top: -16%;
  

}
.ourservices img{
    height: 130px;
    width: 130px;

}
.ourservices .software{
   align-self: center;
}
.ourservices .ai{
    align-self: flex-end;
 }
 

.ourservices .card{
    margin-top: 10px !important;
    border: none !important;
    border-radius: 20px !important;
    box-shadow: 0 19px 38px -4px rgba(0,0,0,0.3), 0 12px 12px -2px rgba(0,0,0,0.22);
    max-height: 300px;
}
/* aboutus page styling */
.abouthero{
    min-height: 300px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)) , url("../imgs/aboutushero.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.abouthero .content{
    border: 2px solid white;
    background: transparent;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 20px;
    border-radius: 10px;
    line-height:2rem;
    gap: 10px;
    /* margin-left: 33%; */
    /* margin-right: 20%; */
    /* width: 400px; */
 
}
.abouthero .content h4{
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.abouthero button{
    height: 50px;
    min-width: 150px;
    text-decoration: none;
    background: transparent;
    border-radius: 47px;
    border: 2px solid white;
    color: white;
    align-self: center;

}
.abouthero a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
}
.abouthero a:hover{
    text-decoration: none;
    color: rgb(3, 51, 43);
    text-align: center;
    padding: 10px;
}
.abouthero span{
    color: red;
}
.aboutus{
    min-height: 650px;
}
.aboutus .card{
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 150px;
    border-radius: 20px;
    border: none;

}
.aboutus .card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.aboutus span{
    color: red;
    font-weight: 700;
}
.aboutus h5{
    font-weight: 600;
}
.aboutus .card:hover{
    border-left: 3px solid red;
    transform: scale3d(1.05, 1.05, 1.05);
    transition: all 0.5s ease;
    margin-bottom: 20px;
    cursor:pointer;
    border-top-left-radius: none !important;
    /* rotate: 3deg; */
}
.aboutus .img-bg{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)) , url("../imgs/boutusbg.jpg");
    background-position:right;
    background-size: cover;
    background-attachment: scroll;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    min-height: 550px;
    margin-bottom: 20px;
}
.img-bg img{
    max-height: 200px;
    max-width: 200px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
}
.img-bg .design{
    border: 4px solid white;
    max-height: 200px;
    width: 200px;
    margin-left: 70%;
    margin-top: 5%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    rotate: -10deg;
}

/* portfolio page styling */
.portfoliohero{
    min-height: 300px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)) , url("../imgs/portfolioheropage.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* display: flex; */
}
.portfoliohero .content{
    border: 2px solid white;
    background: transparent;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 20px;
    border-radius: 10px;
    line-height:2rem;
    gap: 10px;
    /* margin-left: 33%; */
    /* margin-right: 20%; */
    /* width: 400px; */
 
}
.portfoliohero .content h4{
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.portfoliohero button{
    height: 50px;
    min-width: 150px;
    text-decoration: none;
    background: transparent;
    border-radius: 47px;
    border: 2px solid white;
    color: white;
    align-self: center;

}
.portfoliohero a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
}
.portfoliohero a:hover{
    text-decoration: none;
    color: rgb(3, 51, 43);
    text-align: center;
    padding: 10px;
}
.portfoliohero span{
    color: red;
}
.technologies span{
    color:red;
    font-weight: 700;
}