.body{
  background: rgb(2, 32, 27);
  color:white;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 0.5s ease;
  letter-spacing: 1px;
  line-height: 1.9px;
  gap: 2px;
}
.custom-bg{
    background: rgb(2, 32, 27);
    color: white;
}
.mycontainer{
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}
.bg-1{
    color: white;
    background: rgb(3, 51, 43);

}
.companyname{
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.hero {
    min-height: 650px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)) , url("../imgs/laptopbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0rem 5rem  ;
}
.hero .row .col-md-5{
    margin-top: 3rem;
    border: 1px solid white;
    background: transparent;
    border-radius: 20px;
    /* border: 2px solid rgb(3, 51, 43); */
    padding: 20px;
    margin-left: 10px;
    line-height: 10px;
    height: 300px;
}

.whoweare{
    min-height: 450px;
    /* border: 2px solid ; */
    background: white;
    color: rgb(2, 32, 27);
}
.whoweare .row{
    padding: 20px !important;
    margin: 20px !important;

}
.whoweare button{
    height:50px;
    min-width: 150px;
    border-radius: 47px;
    border: 2px solid red;
    background-color: white;
}
.whoweare p{
    line-height: normal;
    padding: 5px;
    margin : 10px;
    font-size: 16px;
    line-height: 2rem;

}
.whoweare .image{
    height: 450px;
    border-radius: 30px;
    margin: 5px ;
    padding: 1px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)) , url("../imgs/pexels-pixabay-356056.jpg");
    background-position: center;
    background-size: cover;
}
.services{
    min-height: 450px;
    margin-bottom: 20px;

}
.services .row{
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}
.services span{
    color: red;

}
.services .card{
    height: 230px !important;
}
.services .col-md-4{
    margin-top: 50px;
    margin-bottom: 20px;
}
.services .card-body h5{
    color: rgb(3, 51, 43) !important;
    text-align: center;
}
.services .card-body p{
    color: rgb(3, 51, 43) !important;
    text-align: start;
    line-height: 1.5rem;
}
.services .card-image{
    height: 130px;
    width: 130px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    margin-left: 30%;
    margin-top: -16%;
    border-radius: 50%;

}
.services img{
    border-radius: 50%;
    height: 130px;
    width: 130px;

}
.services .card{
    margin-top: 10px !important;
    border: none !important;
    border-radius: 20px !important;
    box-shadow: 0 19px 38px -4px rgba(0,0,0,0.3), 0 12px 12px -2px rgba(0,0,0,0.22);
    max-height: 300px;
}
.whyus{
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color:white;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) , url("../imgs/pexels-pixabay-356056.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.whyus button{
    height: 50px;
    min-width: 150px;
    text-decoration: none;
    background: red;
    border-radius: 47px;
    border: none;
    color: white;
    align-self: center;
}
.portfolio{
    margin-top: 50px;
    min-height: 450px;
    /* border: 2px solid ; */
}
.portfolio h4{
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.portfolio span{
    color: red;
}
.portfolio img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 280px;
}
.portfolio .card{
    margin-top: 10px !important;
    border: none !important;
    border-radius: 20px !important;
}
.portfolio .card-body{
    align-content: center;
    padding: 10px;
}
.viewmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.viewmore a{
    height: 50px;
    width: 200px;
    text-decoration: none;
    background: red;
    border-radius: 47px;
    border: none;
    color: white;
    align-self: center;
    padding: 15px;
    margin: 10px;
    margin-bottom: 20px;
}
.clients{
    min-height: 450px;
    border: 2px solid ;
}
.mini-footer{
    min-height: 450px;
    border: 2px solid ;
}
.footer{
    min-height: 100px;
    padding: 30px;
    background: rgb(2, 32, 27);
}
.footer ul li {
    list-style:circle;

}
.footer h5{
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    padding: 10px;

}

.footer ul li a{
    text-decoration: none;
    color: rgb(192, 168, 168);
}
.copyright{
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
}
.copyright a{
    color: red;
    text-decoration: none;
}
.copyright a:hover{
    color: red;
    text-decoration: none;
}
