.body{
  background: rgb(2, 32, 27);
  color:white;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 0.5s ease;
  letter-spacing: 1px;
  line-height: 1.9px;
  gap: 2px;
}
.custom-bg{
    background: rgb(2, 32, 27);
    color: white;
}
.mycontainer{
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}
.bg-1{
    color: white;
    background: rgb(3, 51, 43);

}
.companyname{
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.hero {
    min-height: 650px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)) , url("../imgs/laptopbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0rem 5rem  ;
}
.hero .row .col-md-5{
    margin-top: 3rem;
    border: 1px solid white;
    background: transparent;
    border-radius: 20px;
    /* border: 2px solid rgb(3, 51, 43); */
    padding: 20px;
    margin-left: 10px;
    line-height: 10px;
    height: 300px;
}

.whoweare{
    min-height: 450px;
    /* border: 2px solid ; */
    background: white;
    color: rgb(2, 32, 27);
}
.whoweare .row{
    padding: 20px !important;
    margin: 20px !important;

}
.whoweare button{
    height:50px;
    min-width: 150px;
    border-radius: 47px;
    border: 2px solid red;
    background-color: white;
}
.whoweare p{
    line-height: normal;
    padding: 5px;
    margin : 10px;
    font-size: 16px;
    line-height: 2rem;

}
.whoweare .image{
    height: 450px;
    border-radius: 30px;
    margin: 5px ;
    padding: 1px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)) , url("../imgs/pexels-pixabay-356056.jpg");
    background-position: center;
    background-size: cover;
}
.whyus{
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color:white;
    align-items: center;
  
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)) , url("../imgs/pexels-pixabay-356056.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.whyus button{
    height: 50px;
    min-width: 150px;
    text-decoration: none;
    background: red;
    border-radius: 47px;
    border: none;
    color: white;
    align-self: center;
}
.portfolio{
    min-height: 450px;
    border: 2px solid ;
}
.portfolio img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 280px;
}
.portfolio .card{
    margin-top: 10px !important;
    border: none !important;
    border-radius: 20px !important;
}
.portfolio .card-body{
    align-content: center;
    padding: 10px;
}
.clients{
    min-height: 450px;
    border: 2px solid ;
}
.mini-footer{
    min-height: 450px;
    border: 2px solid ;
}
.footer{
    min-height: 100px;
    border: 2px solid red;
    padding: 30px;
}